In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns

import sys
import streamlit as st

In [2]:
pd.set_option('display.max_rows', 500)

In [3]:
# Create a list item for every line in myclippings.txt
clippings_list = []

with open('My Clippings - Copy.txt', 'r+', encoding="utf8") as file:
    for line in file:
        line = line.rstrip('\n')
        line = line.replace('\ufeff', '')
        clippings_list.append(line)

In [4]:
# Remove empty lines from list
for item in clippings_list:
    if item == '':
        clippings_list.remove(item)
    else:
        pass

In [5]:
# Re-package into list of lists for each item ending at separator "=========="
clippings_list_final = []
temp_list = []

for item in clippings_list:
    if item == '==========':
        clippings_list_final.append(temp_list)
        temp_list = []
    else:
        temp_list.append(item)
        
#clippings_list_final

In [6]:
# Create a data frame from the list
clippings_df = pd.DataFrame(clippings_list_final)

# Merge clippings that flow onto multiple lines into one column
clippings_df['Clipping'] = clippings_df[clippings_df.columns[2:]].apply(lambda x: ' '.join(x.dropna().astype(str)),axis=1)

# Remove the extra columns & rename
clippings_df = clippings_df[[0,1,'Clipping']]
clippings_df.columns = ['Book Title', 'Metadata', 'Clipping']

In [7]:
# Remove duplicate clippings - sometimes happens due to Kindle glitch
clippings_df = clippings_df.drop_duplicates(subset='Clipping', keep="first")

In [8]:
# Expand the Book Title & Metadata info into individual columns
clippings_df[['Book Title','Author']] = clippings_df['Book Title'].str.split('(',expand=True)
clippings_df['Author'] = clippings_df['Author'].str.replace(')', '')

In [9]:
clippings_df.head()

,Book Title,Metadata,Clipping,Author
0,"I Will Teach You to Be Rich, Second Edition: N...",- Your Highlight on page 288 | Location 5285-5...,Log in to your investment account no more than...,"Sethi, Ramit"
1,"I Will Teach You to Be Rich, Second Edition: N...",- Your Highlight on page 319 | Location 5899-5...,I also highly recommend using Fighting Chance ...,"Sethi, Ramit"
2,"I Will Teach You to Be Rich, Second Edition: N...",- Your Highlight on page 319 | Location 5899-5...,I also highly recommend using Fighting Chance ...,"Sethi, Ramit"
3,"I Will Teach You to Be Rich, Second Edition: N...",- Your Highlight on page 320 | Location 5904-5...,Here’s how I did it: When I decided to buy—at ...,"Sethi, Ramit"
4,Microsoft Power BI Cookbook,- Your Highlight on Location 1537-1539 | Added...,"Per the guidance in Chapter 1, Configuring Pow...",Brett Powell